
/*Feladat*/
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}

article div {
  display: grid;
  grid-template-rows: 50px 1fr 250px;
  overflow: hidden;
}

article .cikk:nth-child(3){
    order: -1;
}

@media screen and (max-width: 600px) {
    nav ul {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    article .cikk:nth-child(3){
    order: 0;
}
}