article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 10px;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.cikk {
    direction: ltr;
}